# Set the root of the project to prevent cascading from parent directories
root = true

# PHP-specific settings
[*.php]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
